<div class="contact">
    <div class="contact-div1">
        <div class="contactdiv3">
            <div class="contactdiv4">
                <i class="fa-solid fa-phone"></i>
                <p>Call To Us</p>
            </div>
            <p class="details">We are available 24/7,7 days a week.</p>
            <p class="details">Phone: +8801611112222</p>
        </div>
        <hr>
        <div class="contactdiv3">
            <div class="contactdiv4">
                <i class="fa-solid fa-envelope"></i>
                <p>Write To US</p>
            </div>
            <p class="details">Fill out form and we will contact you within 24 hours.</p>
            <p class="details">Emails : customer@exclusive.com</p>
            <p class="details">Emails : support@exclusive.com</p>
        </div>
    </div>
    <div class="contactdiv5">
        <form action="">
            <input type="text" id="name" placeholder="Your Name" class="input" required>
            <input type="email" id="email" placeholder="Your Email" required class="input">
            <input type="number" id="phone" placeholder="Your Phone" required class="input"><br>
            <input type="text" id="message" placeholder="Your Message" value=""><br> 
            <input type="submit" (click)="messageSent()">
        </form>
    </div>
</div>
<app-footer></app-footer>