<p id="offer">Summer Sole For All Swim And Free Express Delivery-OFF 50%! <a href="ShopNow">ShopNow</a></p>
<div class="app">
  <p>Ecommerce</p>
  <ul>
      <li><a routerLink="Home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="Contact" routerLinkActive="active">Contact</a></li>
      <li><a routerLink="About" routerLinkActive="active">About</a></li>
      <li><a routerLink="SignUp" routerLinkActive="active">Sign Up</a></li>
    </ul>
    <div class="app-icon">
      <a routerLink="/cart" (click)="Updatecart(0)" class="cartlen"><i class="fa-solid fa-cart-shopping"><span id="cartlen" *ngIf="length!=0">{{length}}</span></i></a>
    </div>
</div>
<router-outlet></router-outlet>